@mixin column-style() {
	background: #1c6fee;
	padding: 0.8rem 0px;
	text-align: center;
	font-weight: 600;
	border-radius: 0.5rem;
}

.col {
	p {
		@include column-style();
	}
}

.columns-size-review {
	.columns {
		> * {
			padding-bottom: 1rem;
		}
		.col-auto {
			p {
				background: gray;
			}
		}
	}
	[class^='col-'] {
		p {
			@include column-style();
		}
	}
}
