$grid-gutter: 1.5rem;
$container-spacing: 0.5rem;

.container {
	margin: 0 auto;
	width: auto;
	padding: 0 $container-spacing;

	@each $name, $size in $screen-breakpoints {
		&.is-#{$name} {
			max-width: $size;
		}
	}
}

.cols,
.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.col,
.column {
	flex: 1;
}

.col-auto,
.column-auto {
	flex: 0 0 auto;
	max-width: none;
	width: auto;
}

@for $col from 1 to 13 {
	.col-#{$col},
	.column-#{$col} {
		flex: 0 0 calc((100% / (12 / $col)) - $grid-gutter);
		max-width: calc((100% / (12 / $col)) - $grid-gutter);
	}
}
