$columns-gutter: 0.5rem;
$container-spacing: 0.5rem;

.container {
	margin: 0 auto;
	width: auto;
	padding: $container-spacing;

	@each $name, $size in $screen-breakpoints {
		&.is-#{$name} {
			max-width: $size;
		}
	}
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-left: -$columns-gutter;
	margin-right: -$columns-gutter;

	> * {
		padding-left: $columns-gutter;
		padding-right: $columns-gutter;
	}
}

.col,
.col-auto {
	flex: 1 0 0%;
	width: auto;
	max-width: none;
}

@for $col from 1 to 13 {
	.col-#{$col} {
		flex: 0 0 auto;
		width: 100%;
		max-width: calc(100% / (12 / $col));
	}
}

@media (max-width: 991px) {
	[class^='column-'],
	[class^='col-'] {
		width: 100%;
		max-width: 100%;
	}
}
