$columns-gutter: 0.5rem;
$column-gap: 0.5rem;
$container-spacing: 0.5rem;

.container {
	margin: 0 auto;
	width: auto;
	padding: $container-spacing;

	@each $name, $size in $screen-breakpoints {
		&.is-#{$name} {
			max-width: $size;
		}
	}
}

.columns {
	display: flex;
	flex-wrap: wrap;
	margin: -$columns-gutter;

	> * {
		padding: $columns-gutter;
	}
}

@mixin col-auto() {
	flex: 1 1 0;
	width: auto;
	max-width: none;
}

.col,
.column,
.column-auto,
.col-auto {
	@include col-auto();

	@media (max-width: screen-breakpoint('sm')) {
		width: 100%;
		max-width: 100%;
	}
}

@for $col from 1 to 13 {
	.col-#{$col},
	.column-#{$col} {
		flex: 1 1 auto;
		width: 100%;
		max-width: calc(100% / (12 / $col));

		@media (max-width: screen-breakpoint('sm')) {
			width: 100%;
			max-width: 100%;
		}
	}
}

@each $bk, $size in $screen-breakpoints {
	@media (max-width: $size) {
		@for $col from 1 to 13 {
			.col-#{$bk}-#{$col},
			.column-#{$bk}-#{$col} {
				flex: 1 1 auto;
				width: 100%;
				max-width: calc(100% / (12 / $col));
			}

			.col-#{$bk}-auto,
			.column-#{$bk}-auto {
				@include col-auto();
			}
		}

		.hide-#{$bk} {
			display: none !important;
		}
	}
}
