.button,
.btn {
	background-color: $color-light;
	padding: 0.4rem 0.8rem;
	border: none;
	border-radius: $border-radius;
	cursor: pointer;
	font-size: 1rem;
	text-decoration: none;

	&:hover {
		background-color: darken($color-light, 5);
		text-decoration: none;
	}

	@each $name, $color in $color-classes {
		$primary: nth($color, 1);

		&.is-#{$name} {
			&:hover {
				background-color: darken($primary, 10) !important;
			}
		}
	}
}
