.navbar {
	display: flex;
	align-items: center;
	padding: 0;
	height: 64px;

	.navbar-brand {
		display: flex;
		align-items: stretch;
		height: 100%;
	}

	.navbar-menu {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		width: 100%;
		height: 100%;

		.navbar-section {
			display: flex;
			align-items: stretch;
			flex: 1 0 0;

			&:not(:first-child):last-child {
				justify-content: flex-end;
			}
		}

		.navbar-center {
			display: flex;
			align-items: stretch;
			flex: 0 0 auto;
		}

		a.navbar-item {
			transition-duration: 0.2s;

			&:hover {
				color: $color-primary;
				transition-duration: 0.2s;
			}
		}
	}

	.navbar-item {
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 1rem 0.75rem;
		height: 100%;
	}
}
