*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button,
input,
textarea {
	font-family: inherit;
}

html,
body,
p,
ul {
	margin: 0;
	padding: 0;
}

body,
p,
a,
input,
textarea {
	font-size: 1rem;
}

a,
::placeholder {
	color: unset;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
