html {
	box-sizing: border-box;
}

body,
button {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html,
body,
p {
	margin: 0;
	padding: 0;
}

a,
::placeholder {
	color: unset;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
