$color-primary: #2877ee;
$color-secondary: #d3dff1;
$color-success: #00c851;
$color-danger: #c52020;
$color-warning: #ff9c07;
$color-info: #1ba1ca;
$color-dark: #3a3a41;
$color-light: #eeeeee;
$color-gray: #888888;

$color-classes: (
	primary: (
		$color-primary,
		$color-light,
	),
	secondary: (
		$color-secondary,
		$color-dark,
	),
	success: (
		$color-success,
		$color-light,
	),
	danger: (
		$color-danger,
		$color-light,
	),
	warning: (
		$color-warning,
		$color-light,
	),
	info: (
		$color-info,
		$color-light,
	),
	dark: (
		$color-dark,
		$color-light,
	),
	light: (
		$color-light,
		$color-dark,
	),
);

@each $name, $color in $color-classes {
	$primary: nth($color, 1);

	.text-#{$name} {
		color: $primary;
	}

	.bg-#{$name} {
		background-color: $primary;
	}
}

@each $name, $color in $color-classes {
	$primary: nth($color, 1);
	$secondary: nth($color, 2);

	.is-#{$name} {
		background-color: $primary !important;
		color: $secondary !important;
	}
}
