@each $id, $size in $spacing-sizes {
	$properties: (
		padding: 'p',
		margin: 'm',
	);

	@each $property, $shortcut in $properties {
		.#{$shortcut}-#{$id} {
			#{$property}: $size !important;
		}
		.#{$shortcut}t-#{$id} {
			#{$property}-top: $size !important;
		}
		.#{$shortcut}r-#{$id} {
			#{$property}-right: $size !important;
		}
		.#{$shortcut}b-#{$id} {
			#{$property}-bottom: $size !important;
		}
		.#{$shortcut}l-#{$id} {
			#{$property}-left: $size !important;
		}
		.#{$shortcut}x-#{$id} {
			#{$property}-left: $size !important;
			#{$property}-right: $size !important;
		}
		.#{$shortcut}y-#{$id} {
			#{$property}-top: $size !important;
			#{$property}-bottom: $size !important;
		}
	}
}
