$spacing-sizes: (
	0: 0,
	1: 0.25rem,
	2: 0.5rem,
	3: 0.75rem,
	4: 1rem,
	5: 1.5rem,
	6: 2rem,
	7: 2.5rem,
	8: 3rem,
	9: 4rem,
	auto: auto,
);

@each $id, $size in $spacing-sizes {
	$properties: (
		padding: 'p',
		margin: 'm',
	);

	@each $property, $shortcut in $properties {
		.#{$shortcut}-#{$id} {
			#{$property}: $size !important;
		}
		.#{$shortcut}t-#{$id} {
			#{$property}-top: $size !important;
		}
		.#{$shortcut}r-#{$id} {
			#{$property}-right: $size !important;
		}
		.#{$shortcut}b-#{$id} {
			#{$property}-bottom: $size !important;
		}
		.#{$shortcut}l-#{$id} {
			#{$property}-left: $size !important;
		}
		.#{$shortcut}x-#{$id} {
			#{$property}-left: $size !important;
			#{$property}-right: $size !important;
		}
		.#{$shortcut}y-#{$id} {
			#{$property}-top: $size !important;
			#{$property}-bottom: $size !important;
		}
	}
}
